*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEEEF;
}

.container{
    margin: 3em 10%;
    background-color: #EEECEC;
    border-radius: 30px;
    box-shadow:0px 0px 40px black;
}

header{
    padding: 20px 110px;
}

.header1{
    position: relative;
    display: flex;

}

.header11{
    display: flex;
    gap: 10px;
    justify-content: left;
    flex-wrap: wrap;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow:0px 0px 10px black;

}

#odalar{
    margin-left: 30px;
    margin-right: 20px;
    width: 175px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    font-family: "Bellota", serif;
    font-style: normal;
    font-weight: 0px;
    margin-top: 5px;
}

.search{
    position: relative;
}

.search1{
    margin-left: 10px;
    width: 175px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    width: 300px;
    padding: 10px;
    margin-right: 20px;
}

.search img{
    position: absolute;
    right: 35px;
    top: 10px;

}

.number{
    padding: 5px;
    margin-left: 10px;
}

.tel{
    font-weight: 600;
}

.support{
    font-size: 12px;
    text-align: right;
}

.header12{
    position: relative;
    right: 20px;
    justify-content: flex-end;
}